body {
  background-color: #e5e5e5;
}
.container {
  width: 1438px;
  height: 1112px;
  margin: 0 auto;
}
.news {
  display: flex;
}
.main-news {
  width: 1029px;
}
.main-news__header {
  margin-left: 4rem;

  margin-top: 1.5rem;
}
.main-news__header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #000000;
  width: 336px;
  height: 47px;
}

.timeline-news {
  width: 402px;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.timeline-news__header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}
.main-large__content {
  display: flex;
  margin-left: 3.3rem;
  margin-top: 0.5rem;
}
.main-large__first-block {
  background-color: #303f86cc;
  width: 533px;
  height: 311px;
  margin-left: -1rem;
  margin-right: 1rem;
}
.heading-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 1.7rem;
  margin-left: 1.5rem;
}
.content-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 2.2rem;
  margin-left: 1.6rem;
}
.main-large__photo {
  width: 441px;
  height: 311px;
}
.main-large__photo:hover {
  transform: scale(1.04);
  transition: 1s;
}

.large-block__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.date {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-left: 1.7rem;
  margin-top: 0.5em;
}

.large-block__footer-click {
  width: 88px;
  height: 29px;
  background: rgba(243, 243, 243, 0.5);
  margin-right: 16px;
}
.large-block__footer-click:hover {
  background-color: rgb(194, 195, 206);
  cursor: pointer;
}
.main-small__content {
  display: flex;
  margin-left: 2.3rem;
}
.main-small_content__news {
  height: 204px;
  margin-right: 1rem;
}
.main-small_content__text-container {
  height: 230px;
}
.main-small_content__img:hover {
  transform: scale(1.04);
  transition: 1s;
}
.small-btn {
  width: 121px;
  height: 29px;
  background: rgba(48, 63, 134, 0.5);
  margin-top: -4px;
}
.small-btn:hover {
  cursor: pointer;
  background-color: rgb(161, 161, 161);
}

.small-heading-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-top: 1.4rem;
  margin-left: 1.1rem;
}
.small-content__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: 1rem;
  margin-top: 0.85rem;
}
.small-footer {
  display: flex;
  margin-left: 1rem;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.timeline-news__content {
  background-color: rgba(48, 63, 134, 0.2);
  margin-top: 1rem;
  height: 453px;
}
.content-item__content {
  display: flex;
  margin-left: 4.1rem;
}
.content-item__heading {
  margin-left: 4.2rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.timeline-btn {
  margin-left: 4.5rem;
  width: 132px;
  height: 25px;
  background: rgba(243, 243, 243, 0.5);
  border: none;
}
.timeline-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.timeline-date {
  color: #00000080;
}
.btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}
.timeline-news__content-item {
  padding-top: 1rem;
}
.timeline-footer {
  display: flex;
  margin-top: 1.7rem;
  margin-left: 4.2rem;
}
.timeline-all__news {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}
.timeline-arrow {
  margin-left: 2rem;
}
.timeline-arrow:hover {
  color: rgb(15, 15, 15);
  cursor: pointer;
}
.item-link {
  text-decoration: none;
}
.item-link:hover {
  color: #994848;
}
.timeline-list {
  margin-left: 7.5rem;
  margin-top: 3.4rem;
}
.list-item {
  margin-top: 0.63rem;
}

@media (max-width: 1438px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .main-large__first-block {
    width: 400px;
  }
  .heading-text {
    font-size: 18px;
  }
  .content-text {
    font-size: 14px;
  }
  .large-block__footer {
    margin-top: 0;
  }
  .main-small_content__img {
    width: 257px;
  }
  .content-item__heading {
    margin-left: 1rem;
  }
  .main-large__photo {
    width: 387px;
  }
  .content-item__content {
    margin-left: 1rem;
  }
  .main-small_content__text-container {
    height: 285px;
  }
}
@media (max-width: 1210px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .main-large__first-block {
    width: 350px;
  }
  .heading-text {
    font-size: 16px;
  }
  .content-text {
    font-size: 12px;
  }
  .large-block__footer {
    margin-top: 0;
  }
  .main-small_content__img {
    width: 237px;
  }
  .content-item__heading {
    margin-left: 1rem;
  }
  .main-large__photo {
    width: 375px;
  }
  .content-item__content {
    margin-left: 1rem;
  }
  .main-small_content__text-container {
    height: 255px;
  }
  .timeline-news__content {
    height: 553px;
  }
  .timeline-news__header-text,
  .main-news__header-text {
    font-size: 28px;
  }
  .timeline-list {
    margin-left: 0;
    margin-top: 1rem;
  }
  .small-content__text {
    font-size: 14px;
  }
  .timeline-date {
    display: none;
  }
  .timeline-news__content-item {
    width: 220px;
  }
  .timeline-btn {
    margin-left: 3.5em;
  }
}

@media (max-width: 1070px) {
  .container {
    width: 600px;
  }
  .news {
    flex-wrap: wrap;
  }
  .main-large__first-block {
    width: 433px;
  }
  .timeline-news {
    margin-top: 20rem;
  }
  .main-small_content__img {
    width: 264px;
  }

  .timeline-news__content {
    width: 290px;
  }
  .main-large__first-block {
    width: 349px;
  }
  .main-large__photo {
    width: 343px;
  }
  .main-small__content {
    display: inline-block;
  }
  .main-small_content__news {
    display: flex;
  }
  .main-small_content__news {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .small-btn {
    display: none;
  }
  .small-content__text {
    width: 261px;
  }
  .small-heading-tex {
    font-size: 18px;
  }
  .small-date {
    display: none;
  }
  .timeline-news {
    margin-top: 107px;
    margin-left: 10%;
  }
  .main-large__first-block {
    width: 319px;
  }
  .heading-text {
    font-size: 12px;
  }
  .content-text {
    margin-top: 5px;
  }
  .large-block__footer-click {
    display: none;
  }
  .main-large__photo {
    width: 331px;
  }
  .main-small_content__img {
    width: 221px;
  }
  .small-heading-text {
    width: 410px;
  }
  .small-heading-tex {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .small-heading-text {
    width: 250px;
  }
  .main-large__photo {
    width: 250px;
  }
  .main-large__first-block {
    width: 250px;
  }
}
@media (max-width: 536px) {
  .main-large__content {
    display: inline-block;
    margin-bottom: 40px;
  }
  .main-large__first-block {
    width: 300px;
  }
  .main-large__photo {
    width: 300px;
    margin-left: -16px;
    margin-top: 18px;
  }
  .main-small_content__news {
    flex-direction: column;
  }
  .main-small_content__news {
    margin-bottom: 252px;
  }
  .main-small_content__img {
    width: 300px;
  }
  .heading-text {
    padding-top: 30px;
    padding-left: 30px;
  }
  .content-text {
    margin-top: 25px;
    margin-left: 15px;
  }
}
